.custom-input-text{
    border: 1px solid #DDD;
    display: inline-block;
    input{
        border: none;
        padding: 0px 5px 0px 5px;
    }
    .glyphicon{
        margin: 0px 5px 0px 5px;
        vertical-align: text-top;
    }
}